streamlit==1.17.0          # Streamlit for the app UI and interactive features
pandas==1.4.0              # For data handling and manipulation
scikit-learn==1.0.2        # For machine learning, including KMeans and scaling
